@use 'base/variables' as v;
@use 'base/mixins' as m;


.bg-festival__mapa {
  background-color: v.$azul;
  margin-top: 3rem;
    }

    .sobre-festival {
      margin-top: 1rem;
      @include m.contenedor;
      @include m.tablet {
          @include m.grid(2);
      }
      .imagen{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        
      }
  }
  
  .contenido-festival {
      h2 {
          color: v.$blanco;
          margin-bottom: 2rem;
          font-weight: 700;
         text-align: center;
      }
      p{
        font-weight: 600;
        color: v.$amarillo;
      }
  }

  .fecha{
    color: v.$naranja;
  }

  .escenarios-style{
    color: v.$blanco;
    font-weight: 500;

    & span{
        color: v.$naranja;
        font-weight: 800;
        font-size:larger;
    }
  }